apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: aws-secretsmanager
  namespace: curadocs
spec:
  provider:
    aws:
      service: SecretsManager
      region: us-east-1
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: fastapi-secrets
  namespace: curadocs
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-secretsmanager
    kind: SecretStore
  target:
    name: fastapi-secrets # The K8s secret name to be created
    creationPolicy: Owner
  data:
  - secretKey: database-url
    remoteRef:
      key: prod/fastapi/db-url # Name of the secret in AWS Secrets Manager
